# Database Configuration
POSTGRES_USER=anysong_user
POSTGRES_PASSWORD=anysong_password
POSTGRES_DB=anysong_db
POSTGRES_PORT=5432

# Frontend Environment (Firebase)
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key_here
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_app_id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=your_measurement_id
NEXT_PUBLIC_API_URL=http://localhost:8000

# Backend Environment
ENVIRONMENT=development
DB_HOST=db
DB_NAME=anysong_db
DB_USER=anysong_user
DB_PASSWORD=anysong_password
DB_PORT=5432 


FIREBASE_CREDENTIALS_PATH="path for your firebase json credentials"

## Google Cloud Credentials
GCS_BUCKET_NAME=name_of_your_bucket
GOOGLE_APPLICATION_CREDENTIALS="path for your google application json credentials"